.landing-section.fullscreen {
    width: 100vw;
    --portrait-padding: calc(var(--banner-height) - 4%);
}

.landing-section.fullscreen > * {grid-area: 1 / -1 / 1 / -1}

.quotes {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.quotes > div {
    width: var(--quotes-width);
    --padding: 3.25rem;
    --small-padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    min-width: 22.5rem;
    height: fit-content;
    color: white;
    padding: var(--padding) var(--small-padding) var(--small-padding) var(--padding);
}

.quote {
    display: grid;
    gap: .3rem; 
    height: fit-content;
    filter: drop-shadow(0 0.125rem 0.25rem var(--blue));
}

.quotes > div:last-of-type {padding: var(--padding) var(--padding) var(--small-padding) var(--small-padding)}

.quotes > div:last-child {text-align: right;}

.quotes > div > .quote > h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.quotes > div > .quote > span {
    font-size: 1.25rem;
    font-family: "PT Sans Narrow", sans-serif;
}

.mobile-quotes {
    justify-content: center;
    display: none;
    margin: auto;
    height: calc(var(--max-height) + 3rem);
}

.mobile-quotes > div:nth-child(1) {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0;
}

.mobile-quotes > div > .quote {
    text-align: center; 
    grid-area: 1 / -1 / 1 / -1; 
    justify-self: center;
    align-self: center;
}

.quotes.beside-banner > div {
    --padding: 2rem;
    display: grid;
    /* margin-top: var(--banner-height); */
    /* padding-top: calc(var(--small-padding) * 0.85); */
    max-width: 80%;
}

.quotes.beside-banner > div > .quote, .mobile-quotes .quote {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    opacity: 0;
    transition: 250ms ease-in-out opacity,
                750ms ease transform;
}

.mobile-quotes > div > .quote {
    position: absolute;
    transform: translateX(50%);
    opacity: 0;
}

.mobile-quotes > div > .quote.active {
    transform: translateX(0%);
    opacity: 1;
}

.mobile-quotes > div > .quote.deactivating {
    transform: translateX(-50%);
}

.quotes.beside-banner .quote.active, .mobile-quotes .quote.active {
    opacity: 1;
}

.background-wrapper {
    display: grid;
    grid-area: 1 / -1 / 1 / -1;
    height: var(--fullscreen-img-height);
    width: 100%;
    position: relative;
}

.background-wrapper > * {
    display: grid;
    width: 100%;
    height: var(--fullscreen-img-height);
    overflow: hidden;
    grid-area: 1 / -1 / 1 / -1;
    transition: 1s ease transform;
}

.portrait-carousel {
    z-index: 1;
}

.background-wrapper > *:not(.active, .deactivating) {
    transform: translateX(100%);
    opacity: 0;
}

.background-wrapper > .extra {
    display: none;
}

.background-wrapper > .extra > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.background-wrapper > .active {
    transform: translateX(0%);
}

.background-wrapper > .deactivating {
    transform: translateX(-100%);
}

.background-wrapper > .carousel-item > img {
    grid-area: 1 / -1 / 1 / -1;
    justify-self: center;
    width: 100%;
}

.cleanplate, .vignette {
    z-index: -1; 
    height: 100%; 
    object-fit: fill;
}

.cleanplate {
    filter: blur(2px);
    object-fit: cover;
    background-position: center top;
}

.background-wrapper:not(.portrait-carousel) > .carousel-item > .portrait {opacity: 0;}

.background-wrapper > .carousel-item > .portrait {
    padding-top: calc(var(--banner-height) - 4%); /* hat intersection */
    width: 100%;
    max-height: 95vh;
    object-fit: contain;
    align-self: flex-end;
    justify-self: center;
}

.carousel-indicator {
    display: flex;
    margin: auto;
    gap: .5rem;
    margin-top: 2rem; /* account for rough-border */
}

.carousel-indicator > .dot {
    width: .5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(rgba(255,255,255,0.3), rgba(141, 141, 141, 0.3));
    transition: all 250ms ease;
}

.dot.active {
    background: radial-gradient(rgba(255,255,255,1), rgba(141, 141, 141, 1))
}


@media (max-width: 1300px) {
    .banner {
        height: auto;
        width: 50vw;
    }
    .banner > .logo.large {
        width: 110%;
    }
}

@media (max-width: 1240px) {
    .quotes > div > .quote > h3 {font-size: 1.125rem;}
    .quotes > div > .quote > span {font-size: .9rem;}
}

@media (max-width: 1150px) {
    .banner {
        --banner-inline-padding: 7.5vw;
        padding-block: 1.5rem;
        width: fit-content;
    }
    .banner > .logo.large {
        width: 100%;
        max-height: 5rem;
    }
}

@media (max-width: 1075px) {
    .quotes:not(.mobile-quotes) {display: none}
    .mobile-quotes {display:block}
    .mobile-quotes > div > .quote > h3 {
        font-size: 1.45rem;
        max-width: 70vw;
        text-wrap: balance;
    }
    .mobile-quotes > div > .quote > span {font-size: 1.125rem;}
}

@media (max-width: 850px) {
    .banner {
        --banner-inline-padding: 5vw;
    }
    .banner > .logo.large {
        max-height: 4rem;
    }
}

@media (max-width: 700px) {
    .banner {
        height: auto;
        width: auto;
        padding: 4vw 10vw;
    }
    .banner > .logo.large, .banner > .title {
        width: 40vw;
        max-height: unset;
        height: 100%;
    }
}