.landing-section.fullscreen {
    width: 100vw;
    height: 80vh;
    /* background: red; */
}

.landing-section.fullscreen > * {grid-area: 1 / -1 / 1 / -1}

.quotes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.quotes > div {
    width: var(--quotes-width);
    --padding: 3.25rem;
    --small-padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    min-width: 22.5rem;
    height: fit-content;
    color: white;
    padding: var(--padding) var(--small-padding) var(--small-padding) var(--padding);
}

.quote {
    display: grid;
    gap: .3rem; 
    height: fit-content;
    filter: drop-shadow(0 0.125rem 0.25rem var(--blue));
}

.quotes > div:last-of-type {padding: var(--padding) var(--padding) var(--small-padding) var(--small-padding)}

.quotes > div:last-child {text-align: right;}

.quotes > div > .quote > h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.quotes > div > .quote > span {
    font-size: 1.25rem;
    font-family: "PT Sans Narrow", sans-serif;
}

.quotes.beside-banner > div {
    --padding: 2rem;
    display: grid;
    /* margin-top: var(--banner-height); */
    /* padding-top: calc(var(--small-padding) * 0.85); */
    max-width: 80%;
}

.quotes.beside-banner > div > .quote {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    opacity: 0;
    transition: 750ms ease all;
}

.quotes.beside-banner .quote.active {
    opacity: 1;
}

.background-wrapper {
    display: grid;
    grid-area: 1 / -1 / 1 / -1;
    height: 100%;
    width: 100%;
}

.background-wrapper > img {
    grid-area: 1 / -1 / 1 / -1;
    justify-self: center;
    width: 100%;
}

.cleanplate, .vignette {z-index: -1; height: 100%}
.cleanplate {filter: blur(2px)}
.background-wrapper > .portrait {
    z-index: 1;
    min-width: 100%;
    height: 92.5%;
    object-fit: cover;
    align-self: flex-end;
}