.leather {
    --border-padding: .65rem;
    --stitch-width: 5px;
    --texture-scale: .9;
    --brightness: 1;
    background: var(--blue);
    box-shadow: 0 .25rem .5rem 0.125rem rgba(0,0,0,0.5);
}

.leather:not(header) {position: relative;}

.leather > *:not(.leather-background, .leather-borders, nav.mobile-view) {z-index: 1;}

.leather-background, .leather-borders {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.leather-background {
    overflow: hidden;
}

.leather-background::after {
    content: '';
    position: absolute;
    inset: 0;
    background: black;
    opacity: calc(1 - var(--brightness));
}

.leather-borders {
    position: absolute;
}

.leather-borders > * > * {
    background-image: url(../assets/sewing_optimised_x.png);
    background-repeat: repeat-x;
    background-size: 1000px auto;
    background-position: 0% 0%;
    position: absolute;
}

.leather-borders > * > .normal {opacity: 0.2}
.leather-borders > * > .overlay {mix-blend-mode: overlay;}

.leather-borders > .top > * {
    top: calc(var(--border-padding) - var(--stitch-width));
    left: var(--border-padding);
    height: var(--stitch-width);
    width: calc(100% - 2 * var(--border-padding));
}
  
.leather-borders > .right > * {
    top: var(--border-padding);
    right: calc(var(--border-padding) - var(--stitch-width));
    width: var(--stitch-width);
    height: calc(100% - 2 * var(--border-padding));
    background-size: auto 1000px;
    
    background-image: url(../assets/sewing_optimised_y.png);
    background-repeat: repeat-y;
}
  
.leather-borders > .bottom > * {
    bottom: calc(var(--border-padding) - var(--stitch-width));
    left: var(--border-padding);
    height: var(--stitch-width);
    width: calc(100% - 2 * var(--border-padding));
}
  
.leather-borders > .left > * {
    top: var(--border-padding);
    left: calc(var(--border-padding) - var(--stitch-width));
    width: var(--stitch-width);
    height: calc(100% - 2 * var(--border-padding));
    background-size: auto 1000px;
    background-image: url(../assets/sewing_optimised_y.png);
    background-repeat: repeat-y;
}

.leather:not(.rough-border) > .leather-background {
    background: var(--blue);
    --light-glow-col: #3f62b4;
    box-shadow: inset 0 0 1.5rem -0.5rem rgba(0,0,0,0.5),
                inset 0 -4rem 10rem -5rem rgba(0,0,0,0.5),
                0 0 .125rem 0.125rem var(--light-glow-col);
    inset: calc(var(--border-padding) - var(--stitch-width) / 2);
}

.leather-background > * {
    position: absolute;
    inset: 0;
    background-size: calc(2000px * var(--texture-scale));
}

.leather-background > .displacement {
    background-image: url(../assets/leather_displacement.png);
    mix-blend-mode: overlay;
}

.leather-background > .dimples, .sheen {
    background-image: url(../assets/leather_dimples.png);
    background-size: calc(400px * var(--texture-scale));
    background-repeat: repeat;
    mix-blend-mode: multiply;
}

.leather-background > .glow-layer {
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 120%;
    border-radius: 100%;
    background: #D9D9D9;
    filter: blur(3rem);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.leather-background > .sheen {
    background-image: url(../assets/leather_sheen.png);
    background-size: calc(1000px * var(--texture-scale));
    mix-blend-mode: hard-light;
    mask: url(#soft_mask);
    -webkit-mask: url(#soft_mask);
    opacity: 0.3;
}

.leather.rough-border {
    filter: drop-shadow(0 .125rem .5rem rgba(0,0,0,0.4));
}

.leather.rough-border::after {
    --border-height: 1rem;
    content: "";
    position: absolute;
    inset: auto 0 calc(3px - var(--border-height)) 0;
    height: var(--border-height);
    background: linear-gradient(var(--light-blue) 10%, black 200%);
    mask: url(../assets/line.svg);
    mask-repeat: repeat-x;
    mask-position: top center;
    z-index: 9;
}

.leather.rough-border::before {
    --stitch-height: 5px;
    position: absolute;
    content: "";
    inset: auto -1rem calc(2px - var(--stitch-height)) -1rem;
    height: var(--stitch-height);
    background: url(../assets/sewing_optimised_x.png);
    background-size: 1000px;
    background-repeat: repeat-x;
    background-position: center;
    opacity: 0.7;
    z-index: 10;
}

