.leather {
    --border-padding: 1rem;
    position: relative;
    background: var(--blue);
}

.leather-background, .leather-borders {
    position: absolute;
    inset: 0;
}

.leather-borders {
    position: absolute;
}

.leather-borders > * {background: red; position: absolute;}

.leather-borders > .top {
    top: 0;
    left: var(--border-padding);
    height: var(--border-padding);
    width: calc(100% - 2 * var(--border-padding));
}
  
.leather-borders > .right {
    top: var(--border-padding);
    right: 0;
    width: var(--border-padding);
    height: calc(100% - 2 * var(--border-padding));
}
  
.leather-borders > .bottom {
    bottom: 0;
    left: var(--border-padding);
    height: var(--border-padding);
    width: calc(100% - 2 * var(--border-padding));
}
  
.leather-borders > .left {
    top: var(--border-padding);
    left: 0;
    width: var(--border-padding);
    height: calc(100% - 2 * var(--border-padding));
}