@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue: #1D2F5C;
    --light-blue: #3F70A9;
    --white: #F8F8F8;
    --background: #0E172A;
    --glow-col: #182746;

    --title-height: 5rem;
    
    --subtle-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.2);
    --harsh-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.75);
}

body {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
    background: var(--background);
}

body, html {min-height: 100%;}

header * {text-decoration: none; color: white; cursor: pointer}

header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 1.5rem 3.5rem;
    background: var(--blue);
    width: 100%;
    justify-content: space-between;
    z-index: 100;
}

h2 {font-size: 2rem; text-align: center;}

.scroll-wrapper {
    position: relative;
}

header.leather {
    --texture-scale: .8;
    --brightness: 0.8;
    box-shadow: inset 0 -1rem 3rem 0rem rgba(0, 0, 0, 0.4);
}

header > h3 {font-size: 1.125rem; font-weight: 100;}

header > nav > ul {
    display: flex;
    font-size: 1.125rem;
    gap: 2rem;
}

header > .spacer {
    flex-grow: 1;
}

.bg-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 125%;
}

.glow-svg {
    position: absolute;
    top: 500px;
    left: 500px;
    width: 200px;
    aspect-ratio: 1;
    background: red;
}

.instrument-container {
    --instruments-bleed: 0rem;
    position: fixed;
    top: 0; left: 50%; transform: translateX(-50%);
    height: 100vh;
    overflow-y: auto;
    width: calc(100% + var(--instruments-bleed));
    display: flex;
    justify-content: space-between;
    z-index: -100;
    pointer-events: none;
}

.instrument-container::-webkit-scrollbar {
    opacity: 0;
}

.instrument-container > .instrument {
    width: 12.5rem;
    height: 300%;
    background-image: url(./assets/instruments.svg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position-y: var(--offset-top);
    opacity: 0.15;
    mix-blend-mode: plus-lighter;
}

.instrument.right {
    background-position-y: calc(var(--offset-top) + 50vh);
}

.bg-glow {
    position: relative;
}

.glow {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    background: var(--glow-col);
    border-radius: 50%;
    filter: blur(7.5rem);
    z-index: -105;
}

.banner {
    --border-radius-proportion: 0.729;
    --banner-inline-padding: 7.5rem;
    position: absolute;
    max-width: 90vw;
    top: var(--header-height);
    left: 50%;
    transform: translateX(-50%) translateY(-105%);
    padding: 2rem var(--banner-inline-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem; 
    background: var(--white);
    gap: 0.5rem;
    height: fit-content;
    border-radius: 0 0 calc(var(--border-radius-proportion) * var(--banner-height)) calc(var(--border-radius-proportion) * var(--banner-height));
    box-shadow: 0 0.375rem 0.5rem rgba(0,0,0,0.25);

    transition: 500ms ease transform;
}

.banner.active {
    transform: translateX(-50%) translateY(0%);
}

.banner.smaller {
    --title-height: 4.5rem;
}

img.logo {
    width: 10ch;
}

.banner > .title {
    max-width: 70vw;
    height: var(--title-height);
    stroke: rgba(0, 0, 0, 0.75);
    stroke-width: 1px;
    filter: drop-shadow(0 0.25rem 0.125rem rgba(0,0,0,0.2))
}

.logo.large {
    height: calc(var(--title-height) * 1.125);
    width: auto;
    filter: drop-shadow(var(--subtle-shadow))
}

.test {
    margin: 500px auto 0 auto;
    width: 600px;
    height: 300px;
    display: grid;
    place-content: center;
    color: white;
    resize: both;
    overflow: auto;
}

.test-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    text-justify:distribute;
    text-align: justify;
}

main {
    display: grid;
    padding-inline: 17.5rem;
}

main > section {
    display: grid;
    gap: 5rem;
}

section p {font-size: 1.25rem; line-height: 1.5em;}

.banner > .border {
    position: absolute;
    inset: -5px; /* extra margin, later masked */
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.border > .left, .border > .right {
    aspect-ratio: 0.7466025507;
}

.border > * {
    -webkit-mask-image: var(--mask-url);
    height: 100%;
    mask-image: var(--mask-url);
    mask-size: auto 100%;
    mask-position: bottom;
    mask-repeat: no-repeat;
    background: var(--light-blue);
}

.border > .join {
    margin-inline: -5px; /* improve join */
    mask-repeat: repeat-x;
}

header.mobile-view {
    align-items: center;
}

.menu-btn, .close-btn {
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url(./assets/header/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    outline: none; border: none;
    filter: drop-shadow(var(--harsh-shadow));
}

.close-btn {
    background-image: url(./assets/header/close.svg);
    height: var(--menu-btn-height);
    aspect-ratio: 1;
}

header.mobile-view > nav {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--blue);
    transform: translateX(105%);
    z-index: 50;

    /* transition: 500ms ease transform,
                500ms ease filter; 
    injected with javascript after nav load. 
    */
}

nav.mobile-view > ul {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: 2rem;
    font-family: "Cantora One";
    filter: drop-shadow(var(--harsh-shadow));
}

header.mobile-view > nav.open {transform: translateX(0%)}

header.mobile-view > nav.mobile-view > .close-btn {
    --padding: 2rem;
    position: absolute;
    left: var(--left);
    top: var(--top);
    z-index: 100;
}

nav.mobile-view:not(.open) > .leather-background {
    box-shadow: inset 0 0 1.5rem -0.5rem rgba(0,0,0,0.5),
                inset 0 -4rem 10rem -5rem rgba(0,0,0,0.5),
                0 0 .125rem 0.125rem transparent;
}

nav.mobile-view:not(.open) {
    box-shadow: none;
    filter: none;
}

@media (max-width: 700px) {
    header {
        padding-inline: 7.5vw;
    }
    .banner {
        width: 90vw;
        height: auto;
        padding: 5vw 15vw;
    }

    .banner.smaller {
        padding: 5vw 10vw; /* less padding due to longer text */
    }

    .banner > .logo.large, .banner > .title {
        width: 100%;
        height: fit-content;
    }
    .banner > .logo:not(.large) {
        width: 30vw;
    }
    .banner > .border {
        inset: -3px;
    }

    .banner.smaller > .title {
        width: 100%;
    }
}

