@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Caveat:wght@400..700&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue: #1D2F5C;
    --light-blue: #3F70A9;
    --white: #F8F8F8;
    --background: rgb(14, 23, 42);
    --glow-col: #182746;
    --red: #92242F;

    --title-height: 5rem;
    --border-height: 1rem;
    
    --subtle-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.2);
    --harsh-shadow: 0 0.125rem 0.125rem rgba(0,0,0,0.75);
    --polaroid-shadow: 0 .75rem .5rem -.25rem rgba(0,0,0,0.75)
}

dialog {
    display: grid;
    place-content: center;
    position: fixed;
    inset: 0;
    width: unset; height: unset; max-height: unset; max-width: unset;
    background-color: rgb(14, 23, 42, 0.5);
    color: var(--white);
    border: none;
    z-index: 1000;
    backdrop-filter: blur(.125rem);
    pointer-events: none;
    opacity: 0;
    padding-inline: min(5em, 10vw);
    text-align: center;

    transition: opacity 500ms ease;
}

dialog[open] {
    opacity: 1;
    pointer-events: all;
}

dialog > .modal-text {
    font-size: 2.75rem;
    font-family: "Cantora One", sans-serif;
    filter: drop-shadow(var(--harsh-shadow));
}

body {
    font-family: "PT Sans", sans-serif;
    overflow-x: clip;
    background: var(--background);
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: never;
}

body.radial-gradient::before {
    --bg-size: 1;
    --bg-stretch: 2;
    content: "";
    inset: 0;
    position: fixed;
    background: radial-gradient(
        hsl(from var(--background) h s 20%) 30%, 
        var(--background) 90%
    );
    background-size: calc(var(--bg-size) * 100vw), calc(var(--bg-size) * 100vw * var(--bg-stretch));
    background-position: center;
    z-index: -100;
}

/* body * {outline: red 1px solid;} */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: initial;
    }
    /* scrollbar-gutter: stable; */
}

@view-transition {
    navgiation: auto;
}

.pre-render {
    opacity: 0;
}

button.accent-btn {
    text-decoration: none;
    background: var(--red);
    width: fit-content;
    color: var(--white);
    font-weight: bold;
    font-size: 1.25rem;
    padding: .75rem 2.5rem;
    text-shadow: var(--subtle-shadow);
    border-radius: .45rem;
    box-shadow: inset 0 .5rem .75rem rgba(0,0,0,0.25),
                0 0.25rem 0.5rem rgba(0,0,0,0.25);
    text-align: center;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.visible:not(.bg-container, .post-it, .glow, .no-mask) {
    opacity: 1;
    mask-image: radial-gradient(white 50%, black 80%);
    mask-size: 100vw 100vw;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-mode: luminance;
    animation: pre-render-fade-in forwards 2s ease-out;

    @media (prefers-reduced-motion: reduce) {
        animation-duration: 0s;
    }
}

header * {text-decoration: none; color: white; cursor: pointer}

header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 1.5rem 3.5rem;
    background: var(--blue);
    width: 100vw;
    justify-content: space-between;
    z-index: 100;
}

header.pre-render {
    opacity: 0;
}

h2 {font-size: 2rem; text-align: center;}

.scroll-wrapper {
    position: relative;
    overflow: hidden;
}

header.leather {
    --texture-scale: .8;
    --brightness: 0.8;
    box-shadow: inset 0 -1rem 3rem 0rem rgba(0, 0, 0, 0.4);
}

header > h3 {font-size: 1.125rem; font-weight: 100;}

header > nav > ul {
    display: flex;
    font-size: 1.125rem;
    gap: 2rem;
}

header > .spacer {
    flex-grow: 1;
}

.bg-container {
    position: absolute;
    opacity: 0;
    inset: 0;
    width: 100%;
    height: 125%;
    z-index: -1;
    transition: 1s ease opacity;
}

.bg-container:not(.pre-render) {opacity: 1;}

.bg-glow-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

svg.defs-container {
    width: 100vw;
    overflow-x: clip;
}

.glow-svg {
    position: absolute;
    top: 500px;
    left: 500px;
    width: 200px;
    aspect-ratio: 1;
    background: red;
}

.instrument-container {
    --instruments-bleed: 1rem;
    position: fixed;
    top: 0; left: 50%; transform: translateX(-50%);
    height: 100vh;
    overflow-y: auto;
    width: calc(100% + var(--instruments-bleed));
    display: flex;
    justify-content: space-between;
    z-index: -100;
    pointer-events: none;
}

.instrument-container::-webkit-scrollbar {
    opacity: 0;
}

.instrument-container > .instrument {
    width: 12.5rem;
    height: 100%; /* proportion with parent container controls parallax amount */
    background-image: url(./assets/instruments.svg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position-y: var(--offset-top);
    opacity: 0.15;
    mix-blend-mode: plus-lighter;
}

.instrument.right {
    background-position-y: calc(var(--offset-top) + 50vh);
}

.bg-glow {
    position: relative;
}

.glow {
    position: absolute;
    width: var(--content-width);
    height: min(var(--content-width), var(--content-height));
    background: var(--glow-col);
    border-radius: 50%;
    filter: blur(7.5rem);
    z-index: -105;
    opacity: 1;
    transition: opacity 500ms ease;
}

.glow.pre-render {opacity: 0;}

.glow-visible {opacity: 1;}

.banner {
    --border-radius-proportion: 0.729;
    --banner-inline-padding: 6rem;
    position: absolute;
    max-width: 90vw;
    top: calc(var(--header-height) + 0.25 * var(--border-height));
    left: 50%;
    transform: translateX(-50%) translateY(-105%);
    padding: 2rem var(--banner-inline-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem; 
    background: var(--white);
    gap: 0.5rem;
    height: fit-content;
    border-radius: 0 0 calc(var(--border-radius-proportion) * var(--banner-height)) calc(var(--border-radius-proportion) * var(--banner-height));
    box-shadow: 0 0.375rem 0.5rem rgba(0,0,0,0.25);
    z-index: 1;
    opacity: 0;

    transition: 500ms ease transform;

    @media (max-width: 1280px) {
        --title-height: 4rem
    }
}

.banner.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
}

.banner.smaller {
    --title-height: 4.5rem;
}

img.logo {
    width: 10ch;
}

.banner > .title {
    max-width: 70vw;
    height: var(--title-height);
    stroke: rgba(0, 0, 0, 0.75);
    stroke-width: 1px;
    filter: drop-shadow(0 0.25rem 0.125rem rgba(0,0,0,0.2))
}

.logo.large {
    height: calc(var(--title-height) * 1.3);
    width: auto;
    filter: drop-shadow(var(--subtle-shadow))
}

.test-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    text-justify: newspaper;
    text-align: left;
}

main {
    --padding-top: calc(var(--header-height) + var(--banner-height) + 1rem);
    padding-top: var(--padding-top);
    padding-bottom: calc(var(--padding-top) / 2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    gap: 1rem;
}

main.nav-padding {
    --padding-top: calc(var(--header-height));
}

main.banner-padding {
    --padding-top: calc(var(--header-height) + var(--banner-height));
}

main > section {
    display: grid;
    gap: 5rem;
    width: min(70vw, 70em);
}

section p {font-size: 1.25rem; line-height: 1.5em;}

.banner > .border {
    position: absolute;
    inset: -5px; /* extra margin, later masked */
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.border > .left, .border > .right {
    aspect-ratio: 0.7466025507;
}

.border > * {
    -webkit-mask-image: var(--mask-url);
    height: 100%;
    mask-image: var(--mask-url);
    mask-size: auto 100%;
    mask-position: bottom;
    mask-repeat: no-repeat;
    background: var(--light-blue);
}

.border > .join {
    margin-inline: -5px; /* improve join */
    mask-repeat: repeat-x;
}

header.mobile-view {
    align-items: center;
    overflow-x: clip;
}

nav.mobile-view::after {
    content: "";
    position: absolute;
    inset: 0 100% 0 -105%;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 500ms opacity ease;
}

nav.mobile-view.open::after {
    opacity: .5;
}

.menu-btn, .close-btn {
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url(./assets/header/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    outline: none; border: none;
    filter: drop-shadow(var(--harsh-shadow));
}

.close-btn {
    background-image: url(./assets/header/close.svg);
    height: var(--menu-btn-height);
    aspect-ratio: 1;
}

header.mobile-view > nav {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--blue);
    transform: translateX(105%);
    z-index: 50;

    /* transition: 500ms ease transform,
                500ms ease filter; 
    injected with javascript after nav load. 
    */
}

nav.mobile-view > ul {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: 2rem;
    font-family: "Cantora One";
    filter: drop-shadow(var(--harsh-shadow));
}

header.mobile-view > nav.open {transform: translateX(0%)}

header.mobile-view > nav.mobile-view > .close-btn {
    --padding: 2rem;
    position: absolute;
    left: var(--left);
    top: var(--top);
    z-index: 100;
}

nav.mobile-view:not(.open) > .leather-background {
    box-shadow: inset 0 0 1.5rem -0.5rem rgba(0,0,0,0.5),
                inset 0 -4rem 10rem -5rem rgba(0,0,0,0.5),
                0 0 .125rem 0.125rem transparent;
}

nav.mobile-view:not(.open) {
    box-shadow: none;
    filter: none;
}

.paper-overlay {position: relative;}

.paper-overlay::after {
    position: absolute;
    content: "";
    inset: calc(-1*var(--border-width));
    background-image: url(../assets/paper-overlay.jpg);
    background-position: var(--random-paper-position);
    z-index: 1;
    mix-blend-mode: multiply;
    filter: brightness(1.1);
    opacity: .4;
}

.fullscreen-img-container {
    --btn-margin: .5rem;
    --touch-target-padding: 2rem;
    --img-size: 2rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background: color-mix(in srgb, var(--background) 50%, transparent);
    backdrop-filter: blur(.25rem);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
}

.fullscreen-img-container > .close {
    position: fixed;
    display: grid;
    place-content: center;
    top: var(--btn-margin); right: var(--btn-margin);
    width: var(--img-size); height: var(--img-size);
    padding: var(--touch-target-padding);
    background: none; border: none;
    cursor: pointer;
}

.close > img {width: var(--img-size); aspect-ratio: 1;}

.fullscreen-img-container.active {
    pointer-events: all;
    opacity: 1;
}

.fullscreen-img-container > .polaroid {
    display: grid;
    grid-template-rows: 1fr auto;
    width: min-content;
    overflow: auto;
    transform: none;
}

.fullscreen-img-container > .polaroid > img {
    max-width: unset;
    width: min(85vw, calc(85vh * var(--aspect-ratio)));
    aspect-ratio: var(--aspect-ratio);
    object-fit: cover;
}

.fullscreen-img-container > .polaroid > span.info {
    font-size: 1.5rem;
    font-weight: bolder;
}

.fullscreen-img-container > .polaroid::after {display: none;}

@media (max-width: 1000px) {
    .instrument-container {
        --instruments-bleed: 4rem;
    }
}

@media (max-width: 700px) {
    header {
        padding-inline: 7.5vw;
    }

    .banner.smaller {
        padding: 5vw 10vw; /* less padding due to longer text */
    }

    .banner {
        width: 100vw;
        padding: 1.5rem 1rem;
    }
    .banner > .logo {
        height: 1rem;
        width: auto;
    }
    .banner > .border {
        inset: -3px;
    }

    .banner.smaller > .title {
        width: 100%;
    }

    .instrument-container > .instrument {
        width: 10rem;
    }

    .fullscreen-img-container > .polaroid > span.info {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    header {
        padding-block: 1rem;
    }
    .banner {
        width: 100vw;
        padding: 4.5vw 15vw;
        gap: .75rem;
        top: calc(var(--header-height) + .5 * var(--border-height))
    }
    .banner > .title {
        height: auto;
        max-width: unset;
        width: 100%;
        margin-top: -.3rem;
        max-height: 3rem;
    }

    .banner.smaller > .logo {
        height: .75rem;
    }
}

@keyframes pre-render-fade-in {
    0% {
        mask-size: 0vw 0vw;
    }

    100% {
        mask-size: 400vw 400vw;
    }
}

@keyframes opacity-fade-in {
    to {opacity: 1;}
}
